body {
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

span {
  display: block;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#header-container {
  position: fixed;
  width: 100vw;
  height: 40px;
  padding: 8px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-container .logo-title {
  display: flex;
  align-items: center;
}
#header-container .logo-title .logodiv {
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 12px;
  disply: flex;
  align-items: bottom;
}
#header-container .logo-title .logo {
  height: 32px;
}
#header-container .logo-title .title {
  font-size: 24px;
  color: #aaa;
}
#header-container .link-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 8px;
}
#header-container .link-container .link {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 16px;
  color: #aaa;
}

.section {
  padding-top: 56px;
  height: 100vh;
}

#description {
  background-color: #444;
}

#projects {
  background-color: #888;
}

#resume {
  background-color: #444;
}

#contact-me {
  background-color: #888;
}

#m-content {
  width: 100vw;
  height: 100vh;
  background-color: #999999;
}
#m-content #mc-grid::-webkit-scrollbar {
  display: none;
}
#m-content #mc-grid {
  padding: 1vw;
  height: calc(100vh - 2vw);
  display: grid;
  overflow-y: scroll;
  grid-template-columns: 48.5vw 48.5vw;
  grid-template-rows: 30vw 30vw 30vw;
  grid-gap: 1vw;
  -ms-overflow-style: none;
}
#m-content #mc-grid .project {
  background-color: #333333;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem #000;
  transition: 1s;
  position: relative;
}
#m-content #mc-grid .project:hover {
  background-color: #666666;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
}
#m-content #mc-grid .project-title {
  position: absolute;
  width: 48.5vw;
  height: 30vw;
  text-align: center;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#m-content #mc-grid .p-img {
  height: 30vw;
  width: 48.5vw;
  border-radius: 0.25rem;
}/*# sourceMappingURL=portfolio.css.map */